html{
	height: 100%;
	width: 100%;
}
body {
	height: 100%;
	width: 100%;
}
fieldset{
	border-radius: 10px;
	width:200px;
	height: 50px;
	margin-left: 30px;
	margin-top: 20px;
	display: inline-block;
	box-shadow: 10px 10px 5px slategrey;
	border: 2px dashed grey;
	vertical-align: bottom;
	//position: absolute;
	//clear:both;
	//padding: 0px;
	//padding-left:5px; 
}

fieldset div{
	//float: right;
	
}
//defaultmode
.fieldDefaultMode legend span{
	display: initial;
}

.fieldDefaultMode legend input{
	display: none;
}
.fieldDefaultMode .cancelButton{
	display: none;
}
.fieldDefaultMode .deleteButton{
	display: inline;
}


//editmode
.fieldEditMode legend input{
	display: initial;
}
.fieldEditMode legend span{
	display: none;
}
.fieldEditMode .deleteButton{
	display: none;
};
.fieldEditMode .cancelButton{
	display: inline;
};


// search mode
.searchDeco{
	display: none;
}



.tempFieldset{
	display: none;
}
.tempFieldset{
	display: none;
}



#fieldHolder{
	width: 1100px;
	margin-left: 5%;
	border:2px solid slateblue ;
	border-radius: 25px;
	box-shadow: 10px 10px 5px slategrey;
	height:80%;
	margin-top: 2%;
	padding: 25px;
	position: relative;
}
legend span{
	font-style: italic;
	//font-size: 120%;
}
#addNewButton{
 
 	width:200px;
	height: 60px;
	border: none;
	margin-left: 30px;
	margin-top: 20px;
	//padding-top:20px; 
	display: inline-block;
	vertical-align: bottom;
	box-shadow: 10px 10px 5px slategrey;
	border: 2px dashed grey;
	font-size: 150%;
	padding: 0px;
	
}
#addNewButton{
	border-radius: 10px;
	
}
#searchInput{
position: absolute;
right:50px;
top:20px;
}
.searchHighlight{
background-color: beige;
border: 1px solid lightgrey;
box-shadow: 1px 1px 1px slategrey;
font-style: italic;
color: slateblue;
}

.searchDeco{

}
